*{
    background-color: aliceblue;
}
.container{
    display:grid;
    grid-template-rows: repeat(2,100px);
}
.btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Green "Add to Army" button */
  .button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
#header{
    text-align: center;
}
.bot-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .bot-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    max-width: 300px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  